*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: url('images/bg-desktop.svg');
    background-color: hsl(257, 40%, 49%);
}

.conteudo-1{
    padding: 30px;
}

.cabecalho{
    padding: 30px ;
}

.img-cabecalho{
    width: 200px;
}

.meio{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin:  auto;
}

.conteudo-escrito{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 20px ;
    color: #fff;
    width: 50%;
}

.titulo-1{
    font-family: 'Poppins', sans-serif ;
    font-weight: 600;
    font-size: 40px;
}

.paragrafo-1{
    font-family: 'Open Sans', sans-serif ;
    font-weight: 400;
}

.butao-1{
    width: 250px;
    height: 40px;
    box-shadow: 0 0 1em rgb(78, 78, 78);
    border-radius: 20px;
    border: none;
    color:hsl(257, 40%, 49%);
    font-family: 'Open Sans', sans-serif ;
    font-weight: 600;
}

.butao-1:hover{
    background-color: hsl(300, 69%, 71%);
    color: #fff;
}

.imagem-1{
    width: 50%;
    padding-bottom: 30px;
}


.rodape{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}

.rd1{
    margin: 0 0 0 auto;
}

.icon{
    width: 40px;
    padding: 10px;
}

.icon:hover{
    filter: opacity(0.4) drop-shadow(0 0 0 hsl(300, 69%, 71%) ); 
}

@media (max-width: 600px ) {
    .meio{
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin: auto;
    }

    .conteudo-escrito{
        width: 90%;
    }

    .img-cabecalho{
        width: 200px;
    }
    .imagem-1{
        width: 90%;
    }
    .butao-1{
        margin: auto;
    }

    .rodape{
        padding: 20px 60px;
    }

    .rd1{
        padding-top: 50px;
        margin: auto;
        width: 100%;
        padding-bottom: 30px;
    }
}